html,
body {
	font: 11pt normal Arial, Helvetica, sans-serif; 
}

pre {
	margin: 0em;
}

.indent {
	margin-left: 2em;
}

.focused {
	background: #fafa88;
	border-radius: 3pt;
}

.comments {
	color: green;
	font-weight: bold;
	margin-top: 0.5mem;
	margin-bottom: 0.5em;
}

.editorPane {
	width: 55%;
	float: left;
}

.evaluationPane {
	margin-left: 1em;
	width: 40%;
	float: left;
}

.widget {
	padding: 5px;
}

.json-nothing,
.json-boolean {
	color: purple;
	font-style: italic;
	font-weight: bold;
}

.json-string {
	color: darkred;
}

.json-number {
	color: darkblue;
	font-style: italic;
}

.widget > .editIcons {
	display: none;
}

.widget.focused > .editIcons {
	display: block;
	float: right;
	font-family: monospace;
}

.resourcesPane {
	/* todo */
}

.resourceSelector {
	/* todo */
}

.error {
	/* todo */
}